@font-face {
    font-family: Acidic;
    src: url('Acidic.otf');
}

@font-face {
    font-family: Arrus;
    src: url("Arrus.ttf");
}

@font-face {
    font-family: ArrusBold;
    src: url('Arrus-Bold.ttf');
}